.card{
  height: 100%;
  width: 100%;
}
.card-img{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    

}